body
{
    background-color: whitesmoke;
    padding-top: 0px;
    margin-bottom: -100px !important;
    margin-right: 0px;
}



.bg-grey
{
    
    background-color: #D3D3D3;
    
}



.featurette-d
{
    margin: 25px;         
}




/* below code is applied on our services section */

.services
{
    margin: 70px auto;
  
    padding-top: 65px;
    padding-bottom: 40;
    text-align: center;
}

.hz {
    font-family: sans-serif;
    letter-spacing: 1px;
}

.hz:after
{
    content: '';
    background: white;
    display: block;
    width: 150px;
    height: 3px;
    margin: 10px auto;
}

.icon
{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1p solid white;
    border-radius: 50%;
}

.col3:hover{
    box-shadow: 5px 7px 9px 2px rgba(255,255,255,0.5);
    cursor: pointer;
}

.col3{

    margin-top: -55px;
    margin-bottom: 35px;
}





/* navbar functionality-----naviation bar changes its color on scroll */

.bg-dark{
    transition: 400ms ease;
    background: transparent !important;
}
.bg-dark.active{
    background: white !important;
    opacity: 1;
    
}


/* .research-call{
    transition: 400ms ease;
    background: transparent !important;
}
.research-call.active{
    background: white !important;
    opacity: 1;
    
}



.contact-call{
    transition: 400ms ease;
    background: transparent !important;
}
.contact-call.active{
    background: white !important;
    opacity: 1;
    
} */

/*
.coll:hover{
    
    cursor: pointer;
    
    color: whitesmoke;
    border-bottom: 5px 7px 9px 2px rgba(255,255,255,0.5);
}

*/


/* applying glow underline to menu item */
.tk {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-align: center;
}

.tk:hover:before {
    content: '';
    width: 100%;
    height: 7%;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: inset 0 -10px 0 rgba(82, 78, 78, 0.445);
    
}

.tk span {
    display: block;
    width: 100px;
    height: 40px;
    
    padding-top: 20px;
}

/* media querry for applying glow underline to menu item -----small screen view */

@media only screen and (max-width: 771px) {
    .tk {
        display: inline-block;
        position: relative;
        text-decoration: none;
        text-align: center;
    }
    
    .tk:hover:before {
   
        content: '';
        width: 20%;
        height: 10%;
        position: absolute;
        left: 0;
        bottom: 0;
        box-shadow: inset 0 -10px 0 rgba(255,255,255,0.5);
        
    }
}
/* end of nav media querry*/




/*footer body */
.ftrr {
    padding: 2rem 1rem;
    margin-bottom: -100px !important;
    background-color: rgb(36, 35, 35) !important;
    /* border-radius: 0.3rem; */
}


/* back to top pointer */
.top_a{
    background-color: transparent;
    align-items: center;

}

.top_a:hover{
    background-color: #777474;
    border-radius: 50%;
}

.po{
    width: 48px !important;
}


/* social media icons */

.soc{
    width: 40px !important;
}


.zz{
    margin-top: 0px;
    margin-bottom: 0px;
}




.gmap{
    size: 5000;
    
  
}


.map-responsive{
    overflow:hidden;
    padding-bottom:20%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    position:absolute;
}

/* border radius

border-radius: 0.3rem

*/


/* jumbotron top and down margin 0 ------ to avoid white background */

.jumbotron-special{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: whitesmoke;
    margin-left: 30px;
    margin-right: 30px;
}


/* ############################################################################################################ */












/*---------------------for contact us page---------------------------------------*/


.content{
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 0px;
    
}

.emoji{
    padding-top: 40px;
    font-size: 40px;
}

.content_size{
    font-size: 18px;
}


/*Style for contact us form*/
.col-md-5{  
    margin-top: 100px;
    background: whitesmoke;
    padding-left: 10px;
    align-content: center;   
}

.col-md-7{
    padding-right: 70px;
}

@media only screen and (max-width: 767px){
    .col-md-7{
        padding-right: 45px;
        padding-left: 35px;
    }
}

.label{
    font-weight: normal;
    margin-top: 15px;
    color: black
}
.form-control{
    border-radius: 10px;
}

/*------------------------------------for career page--------------------------------------------*/

/* line below header */
.header:after
{
    content: '';
    background: white;
    display: block;
    width: 200px;
    height: 3px;
    margin: 10px auto;
}

/* line below header */
.header1:after
{
    content: '';
    background: grey;
    display: block;
    width: 500px;
    height: 3px;
    margin: 10px auto;
    margin-bottom: 50px;
}

h2{
    color:grey;
}

/*--------------------for research page --------------------------------------------------*/
.underline:after
{
    content: '';
    background: grey;
    display: inline-block;
    width: 1097px;
    height: 3px;
    margin: 10px ;
}


/*--media query to make responsive--*/
@media only screen and (max-width: 991px) {
    .respon-left{
      text-align: center !important;
       /* align-content: center;
       align-items: center; */
    
    }
}
@media only screen and (max-width: 991px) {
    .respon-right{
      text-align: center !important;
       /* align-content: center;
       align-items: center; */
    
    }
}

@media only screen and (min-width: 992px) {
    .respon-left{
        text-align: left;
        padding-left:100px;

    }
}

@media only screen and (min-width: 992px) {
    .respon-right{
        text-align: right;
        padding-right: 150px;
    }
}




